div{
    color: royalblue;
    font-size: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;
}
section{
    border: 1px dotted gold;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}
h2{
    font-size: 15px;
    color: black;
}